*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: #65C0A4;
}
h1{
    font-size: 40px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;    
}
h2{
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
}
header, section, footer, aside, nav, article, hgroup{    
    display: block;
}
section{
    text-align-last: center;
}
.bloque{      
    margin: 0; 
      
}
header{
    background: grey;
    border: 1px solid #999999;
    padding: 10px;
}
.opciones {
    background: cadetblue;
    padding: 5px 15px;
    text-align: center;
}
.opciones li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;   
}
.seccion{
    width: 65%;
    margin: 20px;    
    float: left;
}
.seccion h2{
    padding: 40px;
    font-size: 40px;
    font-family: sans-serif;
}
time{    
    color: #999;
}
article{
    padding-left: 85px;
    padding-right: 85px;   
    margin-bottom: 30px;
    
}
article h3{
    margin-top: 0;
}
.foto{
    margin: 26px;
    width: 28%;    
    float: left;    
}
footer{
    clear: both;
    background: cyan;
    font-family: cursiva;
    margin-bottom: 0;
    text-align-last: center;    
}



